.countries__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    padding: 0px 60px;
}

.countries__filters {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.countries__cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
}

.countries__search {
    width: 40%;
}

.countries__cmb {
    width: 10%;
}