select {
    padding: 12px 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: $dark-mode-elements;
    color: $light-mode-text-and-elements;
}

// option {
//     color: $light-mode-text-and-elements
// }